<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="page-header">
    <h1>Course Menu<small> made from home</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <% @courses.each_with_index do |course, count| %>
    <h3>
      <%= course.name %>
    </h3>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag asset_url("#{count+1}.jpg"), class: "media-object" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <div class="col-md-4">Name</div>
          <div class="col-md-4">Description</div>
          <div class="col-md-3">Price</div>
          <div class="col-md-1">Course</div>
        </h4>
        <% course.plates.each do |plate| %>
          <div class="col-md-4"><%= link_to plate.name , edit_plate_path(plate) %></div>
          <div class="col-md-4"><%= plate.description %></div>
          <div class="col-md-3"><%= plate.price %></div>
          <div class="col-md-1"><%= plate.course_id %></div>
            <div class="row">
              <div class="col-md-12"><%= link_to 'New Plate', new_plate_path(course_id: course.id) %></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<% end %>
